div(ng-controller='MeetupsCtrl' ng-init="count=0")
    h2#header Meetup
    p This is a list of upcoming meetups.
        ul.list-group
            span(ng-repeat="meetup in meetups")
                li(class="list-group-item")
                    a(href="{{ meetup.event_url }}")<b>{{meetup.name }}</b>
                    |  @ {{meetup.venue.name}}<br /><em>{{ meetup.time | date:'medium' }}</em>
                    a(ng-click="showDescription()" ng-hide="toggleDescription")<i class="fa fa-plus pull-right"></i>
                    a(ng-click="hideDescription()" ng-show="toggleDescription")<i class="fa fa-minus pull-right"></i>
                li(class="list-group-item" ng-hide="toggleDescription{{$index}}")
                    p
                        b Description:
                    blockquote
                        <span ng-bind-html="meetup.description"></span>
