h2#header About

div(ng-controller='AboutCtrl')
  p This is a Node.DC website leveraging many technologies.
  p You can read more on the&nbsp;
    a(href="https://github.com/joshfinnie/node.dc/blob/master/README.md") README.