h2#header Node.DC
div(ng-controller='HomeCtrl')
  p A friendly group of humans meeting at least monthly to talk about node.js and other things.

  p We organize ourselves on <a href="http://meetup.com/node-dc">Meetup</a>, make some bird noises <a href="https://twitter.com/nodedc">@NodeDC</a>, and would love to have you join us. We welcome humans (and robots) of all skill levels, from beginners to people who shouldn’t be calling themselves experts (okay, and experts too, but you really should embrace a lifelong commitment to learning).

  p Some of us spend some time on IRC at <a href="http://webchat.freenode.net/?channels=node.dc">freenode.net#node.dc</a>, and we’d love to have you drop in — even if it’s just to ask a question or say hello.
