doctype
html(ng-app="nodeDC")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A website for Node.DC')
    meta(name='author', content='Node.DC <@nodedc>')
    //-link( rel="shortcut icon" href="/images/nodedc.png" type="image/png")
    link( rel="icon" href="/images/nodedc.png" type="image/png")
    base(href='/')
    title Node.DC
    != css('lib/bootstrap/dist/css/bootstrap.min.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    != css('css/app.min.css')
    // [if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref="home" ui-sref-active="active") Node.DC
        .collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            li(ui-sref-active="active")
              a(ui-sref="home") Home
            li(ui-sref-active="active")
              a(ui-sref="about") About
            li(ui-sref-active="active")
              a(ui-sref="meetups") Meetups
            li(ui-sref-active="active")
              a(ui-sref="contact") Contact

    .container
      block body

      hr
      footer
        p(style="display:flex;flex-direction:row;")
          span(style="order: 1;")
            a(href="https://github.com/NodeDC/node.dc") Node.DC Web App: v
              span(app-version)
          span.text-center(style='order: 2;flex-grow:3;')
            a(href="#codeOfConduct", role="button", data-toggle="modal") Code of Conduct
          span(style='order:3;')
            &copy; 2014 - Node.DC

          div.modal.fade#codeOfConduct
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                  h4.modal-title Code of Conduct
                  div.modal-body(style='font-size:smaller;max-height:450px;overflow:scroll !important;')
                    p The Node.dc community is made up of a mixture of professionals and volunteers with different levels of understanding and personal beliefs. This diversity is one of our strengths, and in an effort to enrich and protect our community we’ve enacted this Code of Conduct to be followed during all events, online dicussions on forums and chatrooms, and code projects (including issue discussions and pull requests).
                    p Node.dc is dedicated to providing a harassment-free community experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of community participants in any form. Sexual language and imagery is not appropriate for any community venue, including talks, hack nights, and in public spaces such as bars. Community participants violating these rules may be sanctioned or expelled from events and the online meetup community without a refund (if applicable) at the discretion of the community organizers.
                    p Harassment includes verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion; sexual images in public spaces; deliberate intimidation, stalking, following, harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
                    p Sponsors of community events are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Representatives from sponsor organizations should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
                    p If a participant engages in harassing behavior, the community organizers may take any action they deem appropriate, including warning the offender or expulsion from the community with no refund, if applicable. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an organizer immediately.
                    p Presentations or similar events should not be stopped for one-time gaffes or minor problems, although a community organizer should speak to the presenter afterward. However, the community organizers should take immediate action to politely and calmly stop any presentation or event that repeatedly or seriously violates the anti-harassment policy. For example, simply say “I’m sorry, this presentation cannot be continued at the present time” with no further explanation.
                    p Organizers will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance, and want you to feel comfortable, safe, and supported.
                    ul
                      li To report any form of harassment or to seek immediate help, contact any of the Node.dc organizers present:
                        ul
                          li Andrew Dunkman at adunkman@gmail.com, (630) 310-0720.
                          li Dan MacTough at danmactough@gmail.com, (202) 415-2258.
                          li Josh Finnie at josh@jfin.us, (860) 716-5996.
                          li Matthew Whittemore at mcwhittemore@gmail.com, (646) 573-4888.
                      li To file a police report, contact 911.
                      li For immediate support in case of sexual assault, contact the DC sexual assault hotline at (202) 333-RAPE.
                      li If you are in need of a safe ride, Yellow Cab can be reached at (202) 544-1212.
                    p We expect participants and organizers to follow these rules at all community venues and community-related social events.
                    p It is through thoughtful dialog and careful listening that we can encourage each other to do great things. We are committed to making Node.dc a place where you can develop and share your skills, both as they relate to programming and to communication.
                    blockquote(style='font-size:smaller;')
                      p “Every day, think as you wake up, today I am fortunate to be alive, I have a precious human life, I am not going to waste it. I am going to use all my energies to develop myself, to expand my heart out to others; to achieve enlightenment for the benefit of all beings. I am going to have kind thoughts towards others, I am not going to get angry or think badly about others. I am going to benefit others as much as I can.” ― Dalai Lama XIV
                  div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

    != js(src='lib/jquery/dist/jquery.min.js')
    != js(src='lib/bootstrap/dist/js/bootstrap.min.js')
    != js(src='lib/angular/angular.min.js')
    != js(src='lib/angular-sanitize/angular-sanitize.min.js')
    != js(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    != js(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
    != js(src='ng/app.js')
    != js(src='ng/services.js')
    != js(src='ng/controllers.js')
    != js(src='ng/filters.js')
    != js(src='ng/directives.js')
